
<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body class="home-bg">
    <section class="page container home-page">
      <div class="header">
      <% include partials/header %>
      </div>
      <div class="col-md-12 heading-wrap">
        <h1>Am I not beautiful!</h1>

      </div>

    </section>
    <% include partials/footer %>
    <% include partials/foot %>
  </body>
</html>
